{% extends 'simple_app/base.html' %} {% block body_block %}
<h1 class="text-center">Welcome to AG Home Page</h1>
<h5 class="text-center">
  This is a simple project to demonstrate the functionality of Django project
</h5>
<p class="text-justify">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque illum esse cum
  quidem nesciunt qui veniam ducimus nam a libero totam cupiditate ratione enim
  id, magnam iste harum deserunt beatae? Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Inventore corrupti, laboriosam quidem, dolor cumque mollitia
  impedit nobis aperiam magnam rerum ducimus exercitationem ab pariatur error
  explicabo nihil, saepe vel incidunt. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Dignissimos modi cupiditate deserunt maxime sed similique
  natus! Eius vel error commodi molestias, facere obcaecati, veritatis cum
  similique iure sequi quibusdam voluptas? Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Velit enim sequi consequuntur, possimus, eos
  commodi in debitis ducimus autem dolores vitae mollitia. Velit in placeat,
  dolore quasi omnis qui autem. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. A perferendis velit aliquam? Hic voluptas quae error facilis
  quos ducimus numquam officiis, nisi esse dolorem asperiores qui cupiditate
  quisquam animi porro.
</p>
{% endblock%}
